body{
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}

header{
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 997;
    display: flex;
    background-color: rgb(130, 0, 0, 0.8);
}

a.text:active, a.text:hover, a {
  text-decoration: none;
  color: white;
}



/* ЛОГО */

.logo{
    height: 65px;
    margin-left: 15px;
}

.x{
    display: none;
}

.m{
    display: none;
}



/* МЕНЮ */

.mn{
    height: auto;
    width: 250px;
    text-align: center;
}

.menu-1{
    display:flex;
    font-size: 45px;
    width: 150px;
    height: 65px;
    padding: 5px 0 0 0;
    margin: auto;
    color: white;
    text-shadow: 1px 0 5px #000, 
    0 1px 5px #000, 
    -1px 0 5px #000, 
    0 -1px 5px #000;
}

.menu{
    margin: 0;
    text-align: center;
    color: white;
    display: none;
    background-color: rgb(130, 0, 0, 0.8);
    width: 250px;
    word-break: break-all;
    padding: 10px;
}

.menu-1:hover ~ nav.menu{
    display: flex;
}

.menu:hover{
    display: flex;
}

header div nav ul{
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin: 0;
}

header div nav ul li{
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 30px;
    text-shadow: 1px 0 5px #000, 
    0 1px 5px #000, 
    -1px 0 5px #000, 
    0 -1px 5px #000;
}

a:hover{
    text-shadow: 1px 0 12px #000, 
    0 1px 12px #000, 
    -1px 0 12px #000, 
    0 -1px 12px #000;
}



/* ПОИСК */

.btn{
    border-radius: 18px;
    width: 50px;
    margin: 0 0 0 10px;
    height: 50px;
    background-color: white;
    border: 2px solid black;
    background-image: url(../image/lupa.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.search2{
    height: 50px;
    border-radius: 18px;
    width: 350px;
    font-size: 20px;
    padding: 0 0 0 10px;
}

.search{
    margin: 10px 10px 10px auto;
    height: 65px;
    width: 450px;
    display: flex;
    vertical-align: middle;
    text-align: center;
}



/* КОНТЕНТ */

.content {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 100px 0 0 0;
    text-align: left;
    width: 950px;
    height: auto;
}

div.content img{
    margin: 10px 0 10px 10px;
    width: 250px;
    height: 380px;
}

body div.content div{
    background-color: rgb(46, 38, 38, 0.7);
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    display: inline-flex;
    margin: 20px;
    padding: 20px;
}

.name{
    font-size: 50px;
    padding: 20px;
    text-shadow: 1px 0 10px rgb(255, 255, 255), 
    0 1px 10px rgb(255, 255, 255), 
    -1px 0 10px #000, 
    0 -1px 10px #000;
    width: auto;
    line-height: 50px;
}

body div div ul{
    width: 570px;
}

body div div ul li{
    list-style-type: none;
    color: white;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 25px;
    line-height: 35px;
    text-shadow: 1px 0 5px #000, 
    0 1px 5px #000, 
    -1px 0 5px #000, 
    0 -1px 5px #000;
}

.ops{
    width: 100%;
}

.ds{
    text-align: center;
    font-size: 38px;
    padding: 20px;
    width: auto;
    text-shadow: 1px 0 10px rgb(255, 255, 255), 
    0 1px 10px rgb(255, 255, 255), 
    -1px 0 10px #000, 
    0 -1px 10px #000;
}

.image{
    justify-content: center;
    display: flex;
    height: 200px;
    width: 100%;
    padding: auto;
}

.content .image img{
    height: 140px;
    width: auto;
}

.video{
    width: 100%;
}

.foto{
    position: fixed;
    display: none;
    z-index: 998;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.692);
}

.foto_div{
    position: relative;
    height: 507px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto_div span{
    position: absolute;
    display: block;
    height: 100%;
    width: 150px;
}

.foto_left{
    left: 0;
}

.foto_right{
    right: 0;
}

.image-1-1, .image-2-1, .image-3-1{
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}



/* подвал*/

footer{
    position: relative;
    vertical-align: middle;
    width: 100%;
    height: auto;
    display: flex;
    background-color: rgb(130, 0, 0, 0.8);
}

.logo2{
    height: 65px;
    margin: 16px;
}

footer p{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    font-size: 25px;
    padding: 5px;
}



/* МЕДИА-ЗАПРОСЫ */

/* Для full hd и 2k */

@media screen and (min-width: 1920px) and (max-width: 2900px) {

    .content { width: 1700px;}

    .foto_div{
        height: 901px;
        width: 1600px;
    }

    .image{
        height: 400px;
        width: 100%;
    }
    
    .content .image img{
        height: 280px;
    }

    body div div ul li{
        font-size: 35px;
        line-height: 47px;
    }

    .ds{
        font-size: 45px;
    }

    .name{
        font-size: 60px;
    }

    body div div ul{
        width: 700px;
    }

}



/* Для пк 851-950 */
@media screen and (min-width: 851px) and (max-width: 950px) {

    header{
        position: fixed;
        width: 100%;
        height: 70px;
        z-index: 997;
        display: flex;
        background-color: rgb(130, 0, 0, 0.8);
    }

    .search2{
        width: 240px;
    }
    
    .search{
        width: 300px;
        vertical-align: middle;
        text-align: center;
        margin: 10px;
    }

    .content{
        width: 830px;
    }

    body div div ul{
        width: 450px;
    }

    .content .image img{
        height: 119px;
    }

    .name{
        font-size: 35px;
    }
    
}



/* Для телефонов */

@media screen and (max-width: 500px) {

    body header {
        display: flex;
        height: auto;
        width: 100%;
        padding: auto;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }



    /* ЛОГО */

    .logo-img{
        width: 250px;
        margin: 0;
        padding: 0;
    }

    .logo{
        height: 60px;
        margin: 0;
        padding: 0;
    }



    /* КНОПКА */

    .x{
        display: none;
        width: 25px;
        height: 25px;
    }

    .oc{
        margin: 15px;
        background: rgb(46, 38, 38, 0.5);
        display: flex;
        width: 25px;
        height: 25px;
        border: 2px solid black;
    }

    .m{
        display: flex;
        width: 25px;
        height: 25px;
    }



    /* МЕНЮ */

    .mn{
        width: 100%;
        display: none;
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .menu-1{
        display: flex;
        width: 100%;
        height: auto;
        font-size: 30px;
        justify-content: center;
        margin: 10px;
        padding: auto;
    }

    .menu{
        display: flex;
        width: 100%;
        background: rgb(130, 0, 0, 0);
        margin: 0;
        padding: 0;
    }

    nav.menu ul li{
        width: 50%;
        margin: 0;
        padding: 0;
        font-size: 22px;
        line-height: 35px;
    }

    nav.menu ul{
        display: flex;
        width: 100%;
        padding: auto;
        margin: auto;
        flex-wrap: wrap;
    }



    /* ПОИСК */

    .search2{
        width: 230px;
        margin: 0;
        padding: 0;
    }

    .search{
        display: none;
        width: 100%;
        margin: 20px 0 0 0;
        padding: 0;
        justify-content: center;
    }

    /*Картинки*/

    .foto_div{
        height: auto;
        width: 100%;
    }

    .image-1-1, .image-2-1, .image-3-1{
        width: 100%;
        height: auto;
    }

    .foto_div span{
        width: 100px;
    }



    /* КОНТЕНТ */

    .content{
        width: 310px;
        margin: 70px 0 0 0;
    }

    body div.content div{
        width: 300px;
        text-align: center;
        margin: 30px 0 0 0;
        padding: 5px;
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
    }

    div.content img{
        margin: 10px;
        width: 170px;
        height: 250px;
    }

    .name{
        width: 100%;
        margin: 0 0 10px 0;
        padding: 0;
        font-size: 32px;
    }

    body div div ul li{
        width: 100%;
        line-height: 30px;
        margin: 0;
        padding: 0;
        font-size: 20px;
    }

    body div div ul{
        margin: 0;
        padding: 0 0 15px 0;
    }



    /* подвал*/

    footer{
        position: relative;
        width: auto ;
        flex-direction: column;
        margin: 30px 0 0 0;
    }

    footer p {
        margin: auto auto 20px auto;
        font-size: 20px;
    }

}



/* Для планшетов */

@media screen and (min-width: 501px) and (max-width: 850px) {
    
    body header {
        display: flex;
        height: auto;
        width: 100%;
        padding: auto;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }



    /* ЛОГО */

    .logo-img{
        width: 250px;
        margin: 0;
        padding: 0;
    }

    .logo{
        height: 60px;
        margin: 0;
        padding: 0;
    }



    /* КНОПКА */

    .x{
        display: none;
        width: 25px;
        height: 25px;
    }

    .oc{
        margin: 15px;
        background: rgb(46, 38, 38, 0.5);
        display: flex;
        width: 25px;
        height: 25px;
        border: 2px solid black;
    }

    .m{
        display: flex;
        width: 25px;
        height: 25px;
    }



    /* МЕНЮ */

    .mn{
        width: 100%;
        display: none;
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .menu-1{
        display: flex;
        width: 100%;
        height: auto;
        font-size: 33px;
        justify-content: center;
        margin: 10px;
        padding: auto;
    }

    .menu{
        display: flex;
        width: 100%;
        background: rgb(130, 0, 0, 0);
        margin: 0;
        padding: 0;
    }

    nav.menu ul li{
        width: 50%;
        margin: 0;
        padding: 0;
        font-size: 27px;
        line-height: 38px;
    }

    nav.menu ul{
        display: flex;
        width: 100%;
        padding: auto;
        margin: auto;
        flex-wrap: wrap;
    }



    /* ПОИСК */

    .search2{
        width: 230px;
        margin: 0;
        padding: 0;
    }

    .search{
        display: none;
        width: 100%;
        margin: 20px 0 0 0;
        padding: 0;
        justify-content: center;
    }



    /*Картинки*/

    .foto_div{
        width: 100%;
        height: auto;
    }

    .image-1-1, .image-2-1, .image-3-1{
        width: 100%;
        height: auto;
    }



    /* КОНТЕНТ */

    .content{
        width: 450px;
        margin: 70px 0 0 0;
    }

    body div.content div{
        width: 100%;
        text-align: center;
        margin: 30px 0 0 0;
        padding: 5px;
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
    }

    div.content img{
        margin: 10px;
        width: 170px;
        height: 250px;
    }

    .name{
        width: 100%;
        margin: 0 0 10px 0;
        padding: 0;
        font-size: 37px;
    }

    body div div ul li{
        width: 100%;
        line-height: 33px;
        margin: 0;
        padding: 0;
        font-size: 27px;
    }

    body div div ul{
        margin: 0;
        padding: 0 0 15px 0;
    }



    /* подвал*/

    footer{
        position: relative;
        width: auto ;
        flex-direction: column;
        margin: 30px 0 0 0;
    }

    footer p {
        margin: auto auto 20px auto;
        font-size: 22px;
    }

}



/* Для  4k*/

@media screen and (min-width: 2901px) {

    header{
        height: 140px;
    }



    /* ЛОГО */

    .logo{
        height: 130px;
    }



    /* МЕНЮ */

    .mn{
        width: 500px;
    }

    .menu-1{
        font-size: 90px;
        width: 300px;
        height: 130px;
        text-shadow: 1px 0 10px #000, 
        0 1px 10px #000, 
        -1px 0 10px #000, 
        0 -1px 10px #000;
    }

    .menu{
        width: 500px;
        padding: 10px;
    }

    header div nav ul li{
        font-size: 60px;
        text-shadow: 1px 0 10px #000, 
        0 1px 10px #000, 
        -1px 0 10px #000, 
        0 -1px 10px #000;
    }

    a:hover{
        text-shadow: 1px 0 24px #000, 
        0 1px 24px #000, 
        -1px 0 24px #000, 
        0 -1px 24px #000;
    }



    /* ПОИСК */

    .btn{
        border-radius: 36px;
        width: 92px;
        height: 92px;
        border: 4px solid black;
    }

    .lupa{
        width: 92px;
        height: 92px;
    }

    .search2{
        height: 100px;
        border-radius: 36px;
        width: 700px;
        font-size: 40px;
    }

    .search{
        height: 130px;
        width: 900px;
    }



    /* КОНТЕНТ */

    .content {
        margin: 200px 0 0 0;
        width: 2850px;
    }

    body div.content div{
        width: 2700px;
    }

    .foto_div{
        height: 1408px;
        width: 2500px;
    }

    .foto_div span{
        width: 400px;
    }

    .image{
        height: 600px;
        width: 100%;
    }
    
    .content .image img{
        height: 485px;
        width: auto;
    }

    div.content img{
        width: 500px;
        height: 760px;
    }

    body div div ul li{
        font-size: 35px;
        line-height: 60px;
    }

    .ds{
        font-size: 70px;
    }

    body div div ul{
        width: 1400px;
    }

    .name{
        font-size: 76px;
        text-shadow: 1px 0 20px rgb(255, 255, 255), 
        0 1px 20px rgb(255, 255, 255), 
        -1px 0 20px #000, 
        0 -1px 20px #000;
    }

    body div div ul li{
        font-size: 55px;
        text-shadow: 1px 0 10px #000, 
        0 1px 10px #000, 
        -1px 0 10px #000, 
        0 -1px 10px #000;
    }



    /* подвал*/

    .logo2{
        height: 130px;
        margin: 32px;
    }

    footer p{
        font-size: 50px;
    }

}